.messages {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: red;
}

.sidebar {
  min-width: 220px;
  width: 220px;
  height: 100%;
  background-color: #4D394B;
}

.current-chat {
  height: 100%;
  width: calc(100% - 220px);
  background-color: white;
}

.chat-header {
  width: 100%;
  height: 62px;
  background-color: #736471;
}

.chat-body {
  width: 100%;
  height: calc(100% - 62px);
  background-color: white;
  padding: 20px;
}

.channel-messages {
  width: 100%;
  height: calc(100% - 64px);
  overflow-y: auto;
  background-color: white;
}

.compose {
  width: 100%;
  height: 62px;
}
