.channel-message {
  margin: 10px 0px;

  &:hover {
    background-color: #F9F9F9;
  }
}

.message-header {

  .username {
    font-size: 14px;
    font-weight: 900;
    color: black;
  }

  .timestamp {
    font-size: 14px;
    margin-left: 5px;
  }

}

.message-body {
  font-size: 18px;
}

.compose {
  width: 100%;
  input {
    padding-left: 1em;
    height: calc(100% - 4px);
    border: 2px solid #BBBDBF;
  }
}
